<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Payment failed</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <ul class="nav nav-tabs">
                <li><img src="https://airwallex.stgin.com/static/version1621243467/frontend/Magento/luma/en_US/images/logo.svg" style="width:120px; padding:5px;" alt=""></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">DISCLAIMIER</a></li>
                <li><a href="#">ABOUT US</a></li>
        </ul>
        <br>
        <div class="alert alert-danger text-center">Payment Failed</div>
        <a href="/">
            <div class="text-center">
            <h3><button type="button" class="btn btn-primary">Try Again</button></h3>
            </div>
        </a>
    </div>
    <div class="col-xs-2"></div>
</body>